
h1{
    color:brown;
}
h2{
    color:rgb(47, 0, 255);
}
p1{
    color:#89f71b;
}
p2{
    color:rgb(4, 183, 243);
}
button{
color:olivedrab;
background-color: black;
}
body{
    background-color:#ffff00;
}